/* register and login */
main form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    padding: 1rem;
    background-color: black;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    box-shadow: 5px 5px 10px 0px whitesmoke, -5px -5px 10px 0px whitesmoke;
}

form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin: 0.5rem;
    color: white;
    padding: 0.25rem;
    min-width: 200px;
    font-size: 1rem;
}

form input:focus {
    outline: none;
    border-bottom: 1px solid aqua;
}

input::placeholder {
    font-size: 1.1rem;
    padding: 0.2rem;
}

input:focus::placeholder {
    color: rgb(0, 158, 158);
}

form button {
    margin: auto;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-family: "times new roman";
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background-color: rgb(192, 192, 192);
    border: 2px solid whitesmoke;
}

/* contact */
textarea {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid whitesmoke;
    color: white;
    height: 40px;
}

textarea:focus {
    border-bottom: 1px solid aqua;
}
